<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ translations.page_title }}</title>
</head>
<body>
    <h1>{{ translations.page_title }}</h1>
    <p>{{ translations.intro_text }}</p>
    <button>{{ translations.cta_button }}</button>
</body>
</html>
